body{
  background-color: #007fc6;
  }

h1{
  color: #007fc6;
  font-size: 90px;
  font-family: Helvetica;
  background-color: white;  
  padding: 1px;
  font-weight: bolder;
  float: right;
  margin-top: 70px;
  margin-right: 100px;
  border-radius: 25px;
  }
